/* Style pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #2b2b2b;
    color: #f4f4f4;
}

/* Style pour les en-têtes du tableau */
th {
    background-color: #4a4a4a;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
}

/* Style pour les cellules du tableau */
td {
    padding: 12px 15px;
    border-bottom: 1px solid #4a4a4a;
}

/* Alternance des couleurs pour les lignes du tableau */
tr:nth-of-type(even) {
    background-color: #3d3d3d;
}

/* Ajout de surbrillance sur une ligne au survol */
tr:hover {
    background-color: #555555;
}

/* Style pour les en-têtes et cellules de la première colonne */
th:first-child, td:first-child {
    border-left: none;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Images */
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .image-container img:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

